<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>
<p>This will be signup page for new users.</p>

<input type="text">
<br>
<br>
<input type="password" >
<br>
<br>
<textarea rows="10" cols="60">ここに記入してください</textarea>
<br>
<input type="button" value="送信">
